{% load static %}
<!DOCTYPE html>
<meta http-equiv="content-type" charset="utf-8">
<html>

<head>
  <title>気になるor気にならない画面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="content-type" charset="utf-8">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/kininaru.css' %}">
  <!--
  <script type="text/javascript" src="{% static 'js/top.js' %}"></script>
  -->
</head>
<body>

  {% for sitinf in siteinfs %}
    <img src="{{ sitinf.img_pc.url }}"/>
    <h2>{{ sitinf.name }}</h2>
  {% endfor %}
 
</body>
</html>