{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<meta http-equiv="content-type" charset="utf-8">
<html>

<head>
  <title>キニナル？？WEB GALLERY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="content-type" charset="utf-8">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/top.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/top.css' %}">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="inline_header">
      <a class="to_top" href="{% url 'top' %}">
        <img src="{% static 'img/logo2.png' %}" alt="ロゴ"/>
      </a>
    </div>
  </header>
  <div class="block1">
    <hr>
    <p class="explanation">
      キニナル？？WEB GALLERYは<br>
      あなたが"気になる"と思うWebサイトを見つける<br>
      スマートフォン向けデザインギャラリーサイトです。<br>
      <br>
      下のSTARTボタンを押して、表示されたサイトが<br>
      気になるかどうか、ひとつひとつ評価しましょう。
    </p>
    <hr>
    <form method="POST">
      {% csrf_token %}


      <div class="form_ele num">
        <h1>表示数</h1>
        {{ select_form.num|add_class:'sel' }}
      </div>
      <div class="form_ele turn">
        <h1>表示順</h1>
        {{ select_form.turn|add_class:'sel' }}
      </div>
      <h1>カテゴリ<span class="mini">任意/複数選択可</span></h1>
      <div class="form_ele category">
        {{ select_form.category|add_class:'form-control' }}
      </div>
      <div class="form_ele color">
        <h1>色<span class="mini">任意/複数選択可</span></h1>
        {{ select_form.color|add_class:'form-control' }}
      </div>


      <button type="submit" name="select" class="select_btn">START</button>
    </form>
  </div>

</body>

</html>