body {
    background-color: #FDFDFD;
    margin: 0;
    height: 100%;
    color: #2A2A2A;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    text-align: center;
    background-color: #2A2A2A;
    height: 7vh;
}

.inline_header {
    display: inline-block;
    position: relative;
    text-align: start;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

img {
    position: relative;
    object-fit: contain;
    text-align: start;
    vertical-align: middle;
    height: 60%;
    top: 20%;
    margin: 0 2vh;
}


.block1 {
    margin: 3% 5%;
    width: 90%;
    display: inline-block;
}

hr {
    border-width: 1px;
    border-style: solid;
}

.explanation {
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 1.5;
    text-align: center;
    margin: 3vh 0 3vh 0;
}


form {
    text-align: center;
    margin-top: 3vh;
}

h1 {
    text-align: left;
    font-weight: normal;
    font-size: 3vh;
    margin-bottom: 0.4em;
}

.mini {
    font-size: 1.6vh;
    margin: 0 3vh;
    color: #2A2A2A;
}

.form_ele {
    text-align: left;
}

.custom-checkbox {
    display: none;
}

.custom-checkbox:checked+.custom-checkbox-label {
    background: #2A2A2A;
    color: #FDFDFD;
}

.custom-checkbox-label {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #2A2A2A;
    transition: 0.25s;
    padding: 6px 18px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
}

.custom-checkbox-label:hover {
    opacity: 0.5;
}


.sel {
    position: relative;
    width: 20vh;
    border: none;
    border-bottom-color: #2A2A2A;
    border-bottom-style:  solid;
    padding: 0.5em;
}


select{
    -webkit-appearance: none;
    border: none;
}


.sel option {
    padding: 1em;
}

.turn{
    margin-bottom: 3vh;
}
.rule {

    margin: 0;
    width: 100%;
}

.select_btn {
    display: block;
    width: 50vw;
    margin: 6vh auto 5vh auto;
    padding: 0.3em 1em;
    font-size: 3vh;
    text-decoration: none;
    color: #FDFDFD;
    background-color: #2A2A2A;
    border: solid 2px #2A2A2A;
    border-radius: 3px;
    transition: .4s;
}



@media screen and (min-height: 800px) {
    /* 高さ800px以上に適用されるCSS（iphoneX用） */


}

@media screen and (min-width: 480px) {
    /* 幅960px以上に適用されるCSS（PC半画面用） */

    .explanation {
        font-weight: normal;
        font-size: 2vh;
        line-height: 1.5;
        text-align: center;
        margin: 6vh 0 7vh 0;
    }
}

@media screen and (min-width: 960px) {

    /* 幅960px以上に適用されるCSS（PC全画面用） */
    .block1 {
        margin: 3% 10%;
        width: 80%;
    }

    form {
        width: 70%;
        margin: auto;
    }

    .select_btn {
        display: block;
        width: 30vw;
        margin: 7vh auto 7vh auto;
        padding: 0.3em 1em;
        font-size: 3vh;
        text-decoration: none;
        color: #FDFDFD;
        background-color: #2A2A2A;
        border: solid 2px #2A2A2A;
        border-radius: 3px;
        transition: .4s;
    }

}